body{

    background-color: black;
    background-image: url('../../Midias/RedBlur.png');

}

.CoinDatailsMain{

    background-color: black;
    background-image: url('../../Midias/RedBlur.png');
    width: 100%;
    
}

