
.Paragraph{
    width: 90%;
    height: fit-content;
    overflow-y: auto;
    color: white;
    text-align: center;
    margin: 1em auto;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    text-align: center;
}

.Paragraph a{

    color: #e11f36;

}

@media (max-width: 800px) {
    .Paragraph{
        height: 200px;
        overflow: scroll;
        margin-top: 0;
    }

}