

.CriptoMainContainer {

    width: 100%;
    background-color: black;
    background-image: url('../../../Midias/RedBlur.png');

}

.CoinSection {

    width: 100%;
    color: white;
    margin: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    gap: 1;

}

.CoinSectionTitle{

    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;

}

.CustomWord{

    color: #e11f36;
    text-shadow: 5px 2px black;
}

.CoinsListContainer{

    max-width: 100%;
}

.WidgetContainer{
    
    width: 75%;
    height: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    overflow-y: hidden;
    color: black;
    font-family: "Poppins", sans-serif;
    background-color: white;
    border-radius: 12px;
    
}



@media (max-width: 700px) {

    .CoinSection{
        
        height: 70vh;
        
        
    }

    .CoinSectionTitle{

        font-size: 2em;
        text-transform: uppercase;
    
    }

    .WidgetContainer{
        display: none;

    }


}